.Name {
    color: white;
}

.Image {
    width: 30%;
}

.TVFrame {
    background-color: #D1D4CD;
    border-radius: 20px;
    align-items: center;
    margin: 20px;
    padding: 20px;
    height: 300px;
    width: 460px;
}

.TVFrame .TV {
    background-color: #545359!important;
    height: auto!important;
    width: auto!important;
    padding: 20px!important;

}

.Info {
    color: white;
    height: 100px;
    width: auto;
    overflow-y: scroll;
}

.Info::-webkit-scrollbar {
    width: 10px;
}

.Info ul{
    list-style: none;
    padding-left: 0px;
}